<!doctype html>
<html>
<head>
    <title>Google'iga sisse logimine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 70px
        }
    </style>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-primary text-center"><span class="fa fa-user"></span> Profiili info</h1>
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <p>
                        <strong>ID</strong>: {{ user._id}}<br>
                        <strong>E-mail</strong>: {{ user.email}}<br>
                        <strong>Eesnimi</strong>: {{ user.firstName }}<br>
                        <strong>Perekonnanimi</strong>: {{ user.lastName  }}
                    </p>
                </div>
            </div>
        </div>
        <div class=row d-flex justify-content-center>
            <form action="/logout" method="get">
                <Button type="submit" class="btn btn-danger btn-block"> Log out  </button>
            </form>
        </div>
    </div>
</div>
<script>
    console.log({{user}})
</script>
</body>
</html>