<div class="card shadow">
    <div class="card-body">
        <div class="cardInner">
            <h1>Administreeriva kasutaja seaded</h1>
            <hr>
            <div class="row">
                <div id="currentUser" class="alert alert-success d-none" role="alert"></div>
                <h5>Sisselogitud Kasutaja</h5>
                <div class="col-6 userData">
                    <div class="row inline-block">
                        <p class="col-6">Eesnimi:</p>
                        <p class="col-6">{{user.firstName}}</p>
                    </div>
                    <div class="row inline-block">
                        <p class="col-6">Perenimi:</p>
                        <p class="col-6">{{user.lastName}}</p>
                    </div>
                    <div class="row inline-block">
                        <p class="col-6">E-mail:</p>
                        <p class="col-6">{{user.email}}</p>
                    </div>
                    <div class="row inline-block">
                        <p class="col-6">Registreerimise kuupäev:</p>
                        <p class="col-6">{{user.register_date}}</p>
                    </div>
                    <div class="row inline-block">
                        <form id="deleteAccount">
                            <div class="col-6">
                                <label for="confirmDelete" class="form-label">Kustuta oma konto: </label>
                                <input class="form-check-input" type="checkbox" value="yes" id="confirmDelete"
                                    name="confirmDelete" required>
                            </div>
                            <div class="invalid-feedback">
                                Kasutaja kustutamiseks pead kinnitama.
                            </div>
                            <div class="col-6">
                                <button id="delUser" class="btn btn-danger" data-user-id="{{user._id}}">KUSTUTA</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <form id="changePass">
                        <div id="passChange" class="alert alert-success d-none" role="alert"></div>
                        <h5>Parooli vahetamiseks sisesta kaks korda sama parool</h5>
                        <div class="mb-3">
                            <label for="password1" class="form-label">Sisesta parool</label>
                            <input type="password" class="form-control" id="password1" required>

                        </div>
                        <div class="mb-3">
                            <label for="password2" class="form-label">Sisesta parool</label>
                            <input type="password" class="form-control" id="password2" required>
                            <div class="invalid-feedback invalidPassword">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">MUUDA</button>
                    </form>
                </div>
                <div class="col-6">
                    <h5>Anna kasutajale administraatori õigused</h5>
                    <form id="addAdmin">
                        <div id="adminAddAlert" class="alert alert-success d-none" role="alert"></div>
                        <div class="mb-3">
                            <label for="neweAdminEmail" class="form-label">Sisesta kasutaja email</label>
                            <input type="email" class="form-control" id="neweAdminEmail">
                        </div>
                        <button type="submit" class="btn btn-primary">KINNITA</button>
                    </form>
                </div>
            </div>
            <hr>
            <h5 >Registreeritud kasutajad</h5>
            <div id="usersTableAlert" class="alert alert-success d-none" role="alert"></div>
            <table class="table usersTable">
                <thead>
                    <tr>
                        <th scope="col">Eesnimi</th>
                        <th scope="col">Perekonnanimi</th>
                        <th scope="col">Email</th>
                        <th scope="col">Registreerimis kuupäev</th>
                        <th scope="col">Viimane sisselogimine</th>
                        <th scope="col">Kasutaja tüüp</th>
                        <th scope="col">Kustuta kasutaja</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>
                            {{firstName}}
                        </td>
                        <td>
                            {{lastName}}
                        </td>
                        <td>
                            {{email}}
                        </td>
                        <td>
                            {{changeDate register_date}}
                        </td>
                        <td>
                            {{changeDate last_login}}
                        </td>
                        <td>
                            {{#if admin}}
                            Administraator
                            {{else}}
                            Kasutaja
                            {{/if}}
                        </td>
                        <td>
                            <button class="btn btn-danger delUser" data-user-id="{{_id}}">KUSTUTA</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>